<!DOCTYPE html>
<html>
  <head>
    <title>Bro Taco - Sign In</title>
    <link rel="stylesheet" href="">
    <script></script>
  </head>
  <body>
    <div id="main">
      <h2>Already a member?</h2>
      <form action="authUser" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username"><br>
        <label for="password">Password: </label>
        <input type="password" name="password"><br>
        <input type="submit" name="submit" value="Sign In To Bro Down">
        {% csrf_token %}
      </form>
    </div>
  </body>
</html>
